.navbar-dark {
    background-color: #333333;
  }
  .nav-item{
    margin-left:30px;
  }
  .navbar-brand{
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
  }
  .navbar-nav{
    font-family:'Times New Roman', Times, serif;
  }
  body {
    
    z-index: 0;
    
  }
  .navbar-text{
    display: flex;
    align-items: center; 
  }
  .search-input {
    padding: 5px;
      border-radius: 3px;
    width: 200px;
  }
  
  .search-button {
    background: red;
      color: white;
      cursor: pointer;
      margin-left: -4px;
      padding:9px;
      border-radius: 3px;
  }
  
  .carousel .carousel-item {
    height: 500px;
    
  }
  .carousel .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
  }

  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
  }

.img-menu img{
  width: 100%;
}
.menu{
  justify-content: center;
}
.img-menu{
  justify-content: center;
  background-color: aliceblue;
  margin-left: 1px;
}
.service-row{
  background-color: aliceblue;
  padding: 1px;
  padding-bottom: 15px;
  
}
.service-row button{
  background-color: #333333;
  color: white;
  border: none;
  width: 13rem;
  margin-left: 22px;
  padding: 5px;
  border-radius:4px;
}
.service-item h4, p{
  margin:auto;
  margin-left: 10px;
  font-family: 'Times New Roman', Times, serif;
}
.service-item p:last-child span {
  color: #f8a831;
}
.img-service{
  position: relative;
}
.corner-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px 15px;
  background-color:yellow;
  color: black;
  border: none;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
}
.service-row2 input{
  margin-right: 18px;
  border-radius: 5px;
  padding: 8px;
}
.service-row2 select{
  height:40px;
  border-radius: 5px;
}
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
.Button-submit button {
margin-top: 20px;
padding: 5px 40px;
background-color: #ffc107;
color: white;
border-radius:5px;
font-weight:bold;
font-family: 'Times New Roman', Times, serif;
}